In [ ]:
{
 "cells": [
  {
   "cell_type": "code",
   "execution_count": null,
   "id": "e9b02eaf",
   "metadata": {},
   "outputs": [],
   "source": [
    "SELECT * FROM sample_table1;"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "id": "bfe6c360",
   "metadata": {},
   "outputs": [],
   "source": [
    "CREATE OR REPLACE TABLE sample_table2 AS\n",
    "SELECT id, UPPER(name) AS name_upper FROM sample_table1;"
   ]
  }
 ],
 "metadata": {},
 "nbformat": 4,
 "nbformat_minor": 5
}